@model CoreShop_V2.Areas.Client.ViewModel.CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
    ViewData["PageTitle"] = "Checkout";
}

<div class="main-content">
    <div class="container container-ver2 space-padding-tb-30">
        <div class="row head-cart">
            <div class="col-md-4 space-30">
                <div class="item active center">
                    <p class="icon">01</p>
                    <h3>Shopping cart</h3>
                </div>
            </div>
            <!-- End col-md-4 -->
            <div class="col-md-4 space-30">
                <div class="item active center">
                    <p class="icon">02</p>
                    <h3>Check out</h3>
                </div>
            </div>
            <!-- End col-md-4 -->
            <div class="col-md-4 space-30">
                <div class="item center">
                    <p class="icon">03</p>
                    <h3>Order completed</h3>
                </div>
            </div>
            <!-- End col-md-4 -->
        </div>
    </div>
    <!-- End container -->
    <div class="cart-box-container check-out">
        <div class="container container-ver2">
            <div class="row">
                @*<form class="form-horizontal" action="@ViewBag.payPalConfig.PostUrl" method="post">*@
                 <form class="form-horizontal" asp-controller="calculation" asp-action="checkvalid" method="post">
                    <div class="col-md-6">
                        <h3 class="title-brand">BILLING ADDRESS</h3>

                        <div class="form-group col-md-12">
                            <label asp-for="@Model.bill.CustomerName" class=" control-label">Full Name <span class="color">*</span></label>
                            <input type="text" asp-for="@Model.bill.CustomerName" placeholder="Enter your full name..." class="form-control">
                            <span asp-validation-for="@Model.bill.CustomerName" class="text-danger"></span>
                        </div>
                        <div>
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.bill.CustomerEmail" class=" control-label">Email<span class="color">*</span></label>
                                <input asp-for="@Model.bill.CustomerEmail" type="text" placeholder="Enter your email..." class="form-control">
                                <span asp-validation-for="@Model.bill.CustomerEmail" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="@Model.bill.CustomerPhone" class=" control-label">Phone<span class="color">*</span></label>
                                <input asp-for="@Model.bill.CustomerPhone" type="text" placeholder="Enter your phone..." class="form-control">
                                <span asp-validation-for="@Model.bill.CustomerPhone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.bill.CustomerAddress" class=" control-label">Adress<span class="color">*</span></label>
                            <input asp-for="@Model.bill.CustomerAddress" type="text" placeholder="Enter your address..." class="form-control space-20">
                            <span asp-validation-for="@Model.bill.CustomerAddress" class="text-danger"></span>
                        </div>
                        <span class="form-check space-50">Create an account?</span>
                        <span class="form-check space-20">Ship to a different address?</span>

                        @* PayPal Setting *@
                        <input type="hidden" name="upload" value="1" />
                        <input type="hidden" name="return" value="@Model.payPalConfig.ReturnUrl" />
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="business" value="@Model.payPalConfig.Business" />
                        @* End PayPal Setting *@
                        @*</form>*@

                    </div>
                    <!-- End col-md-8 -->
                    <div class="col-md-6 space-30">
                        <div class="box">
                            <h3 class="title-brand">YOUR ORDER</h3>
                            <div class="info-order">
                                <div class="product-name">
                                    <ul>
                                        <li class="head">
                                            <span class="name">PRODUCTS NAME</span>
                                            <span class="qty">QTY</span>
                                            <span class="total">SUB TOTAL</span>
                                        </li>
                                        @{
                                            if (Model.cartItem != null)
                                            {
                                                int i = 1;
                                                foreach (var item in Model.cartItem)
                                                {
                                                    <li>
                                                        <span class="name">@item.product.ProductName</span>
                                                        <span class="qty">@item.Quantity</span>
                                                        <span class="total">$520.00</span>
                                                        <input type="hidden" name="item_number_@i" value="@i" />
                                                        <input type="hidden" name="item_name_@i" value="@item.product.ProductName" />
                                                        <input type="hidden" name="amount_@i" value="520" />
                                                        <input type="hidden" name="quantity_@i" value="@item.Quantity" />
                                                    </li>

                                                    i++;
                                                }
                                            }

                                        }
                                        @*<li>
                                <span class="name">Modern Chair</span>
                                <span class="qty">01</span>
                                <span class="total">$520.00</span>
                            </li>
                            <li>
                                <span class="name">Toldbod Lamp</span>
                                <span class="qty">02</span>
                                <span class="total">$190.00</span>
                            </li>
                            <li>
                                <span class="name">Getama Sofa</span>
                                <span class="qty">03</span>
                                <span class="total">$270.00</span>
                            </li>*@
                                    </ul>
                                </div>
                                <!-- End product-name -->
                                <ul class="product-order">
                                    <li>
                                        <span class="left">CART SUBTOTAL</span>
                                        <span class="right">$980.00</span>
                                    </li>
                                    <li>
                                        <span class="left">SHIPPING & HANDLING</span>
                                        <span class="right">Free Shipping</span>
                                    </li>
                                    <li>
                                        <span class="left">ORDER TOTAL</span>
                                        <span class="right brand">$980.00</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- End info-order -->
                            <div class="payment-order box float-left">
                                <ul class="tabs">
                                    <li>
                                        <i class="icon"></i>
                                        <h4>PayPal</h4>
                                    </li>
                                </ul>
                            </div>
                            <a class="link-v1 box lh-50 rt full" onclick="$('.form-horizontal').submit()" title="PLACE ORDER">PLACE ORDER</a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->
    </div>
    <!-- End cat-box-container -->
</div>
<div class="container">
    <div class="newsletter-bottom center">
        <div class="items">
            <img class="img-responsive" src="~/assets/images/newsletter-bottom.jpg" alt="Newsllter">
            <div class="text">
                <h3>Sign Up Special Promotions</h3>
                <p>Get exclusive deals you wont find anywhere else straight to your inbox!</p>
                <form action="#" method="get" accept-charset="utf-8">
                    <input type="text" onblur="if (this.value == '') {this.value = 'Enter your email...';}" onfocus="if(this.value != '') {this.value = '';}" value="Enter your email..." class="input-text required-entry validate-email" title="Sign up for our newsletter" id="newsletter" name="email">
                    <button class="button button1 hover-white" title="Subscribe" type="submit">Join<i class="link-icon-white"></i></button>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- End newsletter -->

@section Scripts{
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="~/assets/js/engo-plugins.js"></script>
    <script type="text/javascript" src="~/assets/js/store.js"></script>    
}
